body, html {
  margin: 0;
  padding: 0;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  box-sizing: border-box;
  height: 100%; /* Asegura que cubra toda la pantalla */
  width: 100%; /* Asegura que cubra toda la pantalla */
  background-image: url('/src/assets/image4.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 40%;
  background-attachment: fixed;
  overflow-x: hidden; /* Evita el scroll horizontal */
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* Estilo para el menú */
.menu {
  position: relative; /* Asegúrate de que el menú tenga una posición adecuada */
  bottom: 0; /* Coloca el menú en la parte inferior */
}

.no-background {
  background-image: none !important; /* Elimina la imagen de fondo */
}
body[data-theme='dark'] {
  background-color: #121212; /* Fondo oscuro */
  color: white; /* Texto claro */
  background-image: none; /* Elimina la imagen de fondo en modo oscuro */
}

body[data-theme='light'] {
  background-color: white; /* Fondo claro */
  color: black; /* Texto oscuro */
  margin: 0;
  padding: 0;
  overflow: hidden;
}

/* Ajusta box-sizing para todos los elementos */
*,
*::before,
*::after {
  box-sizing: inherit;
}

.first-div {
  position: relative; /* Necesario para posicionar elementos hijos */
  height: 100vh;
  width: 100%; /* Ajusta este valor según necesites (por ejemplo, 90% del ancho del contenedor padre) */
  overflow: hidden; /* Desactiva scroll adicional */
  flex: 1; /* Esto hace que el div ocupe el espacio restante */
  padding: 0;
  margin: 0 auto; /* Centra horizontalmente */
  flex-direction: column;
  display: flex;

}
/* styles.css o en el archivo CSS de tu componente */
.fade {
  transition: opacity 1s ease;
  opacity: 0;
}

.fade-in {
  opacity: 1;
}



.content {
  position: relative; /* Asegura que el contenido esté por encima */
  z-index: 1; /* Coloca el contenido por encima de la imagen */
  padding: 20px; /* Ajusta el espaciado según lo necesites */
  color: white; /* Cambia el color del texto para que sea visible */
}

/* Estilo para el segundo div */
.App {
  text-align: center;
  height: 100%; /* Asegura que la App cubra toda la altura */
  display: flex;
  flex-direction: column; /* Para asegurarte de que se expanda hacia abajo */
}

@media (max-width: 600px) {
  .first-div {
    height: 90vh; /* Cambiar la altura a 90vh en pantallas pequeñas */
  }
}