/* Quita los márgenes de relleno y asegura box-sizing correcto */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%; /* Asegura que cubra toda la pantalla */
  background-image: url('/src/assets/image4.png');
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 40%;
  background-attachment: fixed;
}

/* Ajusta box-sizing para todos los elementos */
*,
*::before,
*::after {
  box-sizing: inherit;
}

.first-div {
  position: relative; /* Necesario para posicionar elementos hijos */
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  overflow: hidden;
  
}
/* styles.css o en el archivo CSS de tu componente */
.fade {
  transition: opacity 1s ease;
  opacity: 0;
}

.fade-in {
  opacity: 1;
}



.content {
  position: relative; /* Asegura que el contenido esté por encima */
  z-index: 1; /* Coloca el contenido por encima de la imagen */
  padding: 20px; /* Ajusta el espaciado según lo necesites */
  color: white; /* Cambia el color del texto para que sea visible */
}

/* Estilo para el segundo div */
.App {
  text-align: center;
}
