/* Quita los márgenes de relleno y asegura box-sizing correcto */
body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ajusta box-sizing para todos los elementos */
*,
*::before,
*::after {
  box-sizing: inherit;
}

.first-div {
  background-image: url('/src/assets/image4.png');
  background-repeat: no-repeat;
  background-position: right bottom; /* Ajusta según tus necesidades */
  background-size: 40%; /* Ajusta el tamaño de la imagen de fondo */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh; /* Asegúrate de que el div cubra toda la altura de la pantalla */
  width: 100vw; /* Asegúrate de que el div cubra todo el ancho de la pantalla */
  padding: 0;
  margin: 0; /* Asegúrate de que no haya margen en el div */
  overflow: hidden; /* Evita las barras de desplazamiento */
  position: relative; /* Asegúrate de que no haya desbordamiento posicional */
}
/* Estilo para el segundo div */
.second-div {
  width: 80%;
  height: 80%;
  margin: 0 auto;
  overflow: hidden; /* Asegúrate de que no haya desbordamiento */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.second-div {
  width: 80%;
  height: 80%;
}


/* Estilo para el cuadro dentro de second-div */
.box-div {
  border: 3px solid #ccc;
  border-radius: 20px;
  padding: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Sombra más pronunciada */
  height: 100%;
  background-color: #fff;
}
