body {
  background-image: url('./assets/image4.png');
  background-size: 40% auto; /* 20% del ancho de la pantalla y auto de alto */
  background-repeat: no-repeat;
  background-position: right bottom; /* O ajusta según tus necesidades */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
